/* html,body{
    scroll-snap-type: y mandatory;
} */
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-image: url("../assets/Artboard.png");
    background-attachment: fixed;
    font-family: 'Rubik', sans-serif;


}
/* 
p {
    font-size: 1.3em;
    text-align: justify;
} */
/* .c1{
    scroll-snap-align: start;
    scroll-snap-stop: always; 
} */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: none;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #D62929;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    p {
        text-align: justify;
    }

    .navbar-toggler {
        color: ghostwhite;
    }

    .images {
        transition: transform .5s;
        width: 100%;

    }

    .images:hover {
        transform: scale(1.1);
    }

    .navbar-nav {
        margin: auto;
    }

    .navbar-brand {
        font-size: 1.06rem !important;
        margin-left: 18%;
        width: 20em;
    }

    .bg-dark {
        background-color: black !important;
    }

    button:focus {
        outline: 0;
    }

    .fixed {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .navbar {
        background: black;
    }

    /* #logo {
          width: 55%;
          padding-left: 50px;
      } */

    .container-fluid .navbar.navbar-expand-lg .nav-link {
        color: black;
    }

    .nav-item {
        padding-right: 20px;
    }

    #button_head {
        /* border: none; */
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: 2em;
        background: black;
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

    #button_head a {
        color: white;
        padding: 0;
        font-size: 17px;
        font-weight: 500;

    }

    #button_head:hover {
        border: 3px solid #00fda9;
        color: #00fda9;
        transition: 0.5s all ease;
    }

    #button_head a:hover {
        color: #00fda9;
    }

    #contact>a {
        color: white;
        font-weight: 600;
    }

    #contact>a:visited {
        border: none;
    }

    #contact>a:active {
        border: none;
    }

    .navbar-brand>img:nth-child(1) {
        width: 14%;
        padding-left: 1vh;
    }

    .navbar-brand>img:nth-child(2) {
        width: 40%;
        padding-left: 2vh;
    }

    .product {
        margin: 3em 3em 3em 4.5em;
    }

    .feat_head>h3 {
        padding-top: 30px;
        font-size: 4.4em;

        font-weight: bold;
    }

    .new_image>img:nth-child(1) {
        width: 10%;
        padding-left: 2vh;
        /* margin-bottom: -40px; */
    }

    .new_image>img:nth-child(2) {
        width: 30%;
        /* margin-bottom: -40px; */
    }

    #head {
        width: 100%;
    }



    .contact_us {
        text-align: -webkit-center;
        margin: 50px 0 10px 0;
    }

    .contact_us>h4 {
        font-size: 1.5em;

        padding: 15px;
    }

    .feature_img {
        height: 280px;
        width: 300px;
        margin: 55px 0 0 200px;
    }

    #contact {
        border: none;
        /* border: 3px solid #00fda9; */
        border-radius: 2em;
        background: black;
        color: white;
        width: 10%;
        height: 40px;
        font-size: 18px;
    }

    .contact_us>p {
        font-size: 1.2em;

        padding: 15px 0 5px 0;
    }

    footer {
        /* position: relative; */
        background: black;
        color: white;
        padding-top: 20px;
    }

    .icon {
        padding-left: 100px;
    }

    .quaffle_img {
        width: 60px;
        background: black;
    }

    #foot_icon {
        color: white;
        padding-left: 10px;
    }

    .powered>p {
        font-size: 1.5em;

        text-align: end !important;
        padding-right: 5vh;
    }


    .compare {
        padding: 0% 0 5% 0;
    }

    .compare .head h1 {

        text-align: center;
        font-size: 4.4em;
        font-weight: bold;
        text-shadow: 1vh;
        padding: 0% 0 5% 0;
    }

    .other {
        padding: 3% 3% 3% 0%;
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .other h1 {
        text-align: right;
        font-size: 2em;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .other ul {
        text-align: right;
        list-style-type: none;
    }

    .other ul li {
        padding-bottom: 10px;
        justify-content: center;
        align-content: center;
        font-size: 1.3em;
        font-weight: 500;
    }

    .other ul li i {
        color: red;
        padding-left: 15px;
        font-size: 1.5em;
    }

    .vs {
        padding: 12% 2% 0 2%;
        display: block;
        /* border: 1px solid black; */
        /* border-left: 0.5px solid rgba(0,0,0,.175); */
        text-align: center;
        /* box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; */
    }

    .vs h1 {
        font-size: 3em;
        font-weight: bold;
    }

    .backup {
        padding: 3% 0% 3% 0%;
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .backup h1 {
        text-align: left;
        font-size: 2em;
        padding-left: 40px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .backup ul {
        text-align: left;
        list-style-type: none;
    }

    .backup ul li {
        padding-bottom: 10px;
        justify-content: center;
        align-content: center;
        font-size: 1.3em;
        font-weight: 500;
    }

    .backup ul li i {
        color: #00fda9;
        font-size: 1.5em;
    }

    .team {
        padding: 5vmin 5vmin 5vmin 5vmin;
    }

    .card {
        width: 20rem;
        margin-top: 10vmin;
        height: 35rem;
    }

    .card .card-text {
        padding: 1.5em 0.5em 0.5em 0.5em;
        font-size: 16px;
    }

    .card-body h3 {
        font-size: 1.3em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .top1>img {
        width: 90% !important;
        padding-top: 15px !important;
        height: 200px;
    }

    .shadow-lg {
        transition: transform .5s;

    }

    .shadow-lg:hover {
        transform: scale(1.1);

    }


    #more {
        border: solid white;
        margin: 5px;
        border-radius: 2em;
        background: black;
        color: white;
        height: 50px;
        width: 150px;
        font-size: 20px;
    }

    #more:hover {
        /* background: white; */
        color: #00fda9;
        border: 3px solid #00fda9;
        box-shadow: 0px 10px 42px rgba(243, 243, 243, 0.4);
        transition: 0.7s all ease;
    }

    /* training */
    h2 {
        text-align: center;
        margin-bottom: 4%;
    }

    .training_box {
        height: 95vh;
        padding: 1%;
        background-color: white;
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .heading {
        text-align: center;
    }

    .training_content {
        padding: 0 10% 5% 10%;
    }

    .training_content p {
        text-align: justify;
        font-size: 1.3em;
    }

    .row {
        /* margin-bottom: 4% !important; */
    }

    .head h1 {
        margin-top: 5%;
        text-align: center;
        font-size: 4.4em;
        font-weight: bold;
        text-shadow: 1vh;
        padding: 0% 0 5% 0;
    }

    .iframe_container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        /* height: 100%; */
        width: 100%;
    }

    .iframe_container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .faq {
        padding: 0 10% 5% 10%;
        background-color: white;

    }

    .faq h1 {
        text-align: center;
        font-size: 4.4em;
        font-weight: bold;
    }

    .faqcontent {
        text-align: justify;
    }

    .faqquestion {
        padding: 5px;

        /* cursor: crosshair; */
        font-weight: bold;
        background-color: ghostwhite;
        font-size: 1.3em;
        font-weight: 500;
        margin: 36px 0 36px 0;

    }

    .faqanswer {
        font-size: larger;

    }

    iframe {
        max-height: 727px;

    }

    video {
        width: 100%;
        height: auto;
    }


}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    .mx-auto {
        margin-left: 0% !important;
        margin-right: 0% !important;
    }

    p {
        text-align: justify;
    }

    .navbar-toggler {
        color: ghostwhite;
        margin-right: -75%;
        float: right;
        margin-top: 4%;
    }

    .images {
        transition: transform .5s;
        width: 100%;

    }

    .images:hover {
        transform: scale(1.1);
    }

    .navbar-nav {
        margin: auto;
    }

    .navbar-brand {
        font-size: 1.06rem !important;
        /* margin-left: 18%; */
        width: 20em;
    }

    .bg-dark {
        background-color: black !important;
    }

    button:focus {
        outline: 0;
    }

    .fixed {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .navbar {
        background: black;
    }

    /* #logo {
          width: 55%;
          padding-left: 50px;
      } */

    .container-fluid .navbar.navbar-expand-lg .nav-link {
        color: black;
    }

    .nav-item {
        padding-right: 20px;
    }

    #button_head {
        /* border: none; */
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: 2em;
        background: black;
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

    #button_head a {
        color: white;
        padding: 0;
        font-size: 17px;
        font-weight: 500;

    }

    #button_head:hover {
        border: 3px solid #00fda9;
        color: #00fda9;
        transition: 0.5s all ease;
    }

    #button_head a:hover {
        color: #00fda9;
    }

    #contact>a {
        color: white;
        font-weight: 600;
    }

    #contact>a:visited {
        border: none;
    }

    #contact>a:active {
        border: none;
    }

    .navbar-brand>img:nth-child(1) {
        width: 14%;
        padding-left: 1vh;
    }

    .navbar-brand>img:nth-child(2) {
        width: 40%;
        padding-left: 2vh;
    }

    .feat_head>h3 {
        padding-top: 30px;
        font-size: 3em;

        font-weight: bold;
    }

    .new_image>img:nth-child(1) {
        width: 10%;
        padding-left: 2vh;
        /* margin-bottom: -40px; */
    }

    .new_image>img:nth-child(2) {
        width: 30%;
        /* margin-bottom: -40px; */
    }

    #head {
        width: 100%;
    }



    .contact_us {
        text-align: -webkit-center;
        margin: 50px 0 10px 0;
    }

    .contact_us>h4 {
        font-size: 2em;

        padding: 15px;
    }

    .feature_img {
        height: 280px;
        width: 300px;
        margin: 55px 0 0 200px;
    }

    #contact {
        border: none;
        /* border: 3px solid #00fda9; */
        border-radius: 2em;
        background: black;
        color: white;
        width: 10%;
        height: 40px;
        font-size: 18px;
    }

    .contact_us>p {
        font-size: 1.5em;

        padding: 15px 0 5px 0;
    }

    footer {
        /* position: relative; */
        background: black;
        color: white;
        padding-top: 20px;
    }



    .quaffle_img {
        width: 60px;
        background: black;
    }

    #foot_icon {
        color: white;
        padding-left: 10px;
    }

    .powered>p {
        font-size: 1.2em;

        text-align: center !important;
        /* padding-right: 5vh; */
    }


    .compare {
        padding: 0% 0 5% 0;
    }

    .compare .head h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        text-shadow: 1vh;
        padding: 10% 0 5% 0;
    }

    .other {
        /* padding: 3% 3% 3% 0%; */
        /* margin: 3%; */
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .other h1 {
        text-align: center;
        font-size: 1.7em;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .other ul {
        text-align: right;
        list-style-type: none;
    }

    .other ul li {
        padding-bottom: 10px;
        justify-content: center;
        align-content: center;
        font-size: 1em;
        font-weight: 500;
    }

    .other ul li i {
        color: red;
        padding-left: 15px;
        font-size: 1.5em;
    }

    .vs {
        padding: 3% 2% 3% 2%;
        display: block;
        /* border: 1px solid black; */
        /* border-left: 0.5px solid rgba(0,0,0,.175); */
        text-align: center;
        /* box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; */
    }

    .vs h1 {
        font-size: 3em;
        font-weight: bold;
    }

    .backup {
        /* padding: 3% 0% 3% 0%; */
        /* margin: 3%; */
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .backup h1 {
        text-align: center;
        font-size: 1.7em;
        padding-left: 40px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .backup ul {
        text-align: left;
        list-style-type: none;
    }

    .backup ul li {
        padding-bottom: 10px;
        justify-content: center;
        align-content: center;
        font-size: 1em;
        font-weight: 500;
    }

    .backup ul li i {
        color: #00fda9;
     
        font-size: 1.5em;
    }

    .team {
        padding: 5vmin 5vmin 5vmin 5vmin;
    }

    .card {
        width: 20rem;
        margin-top: 10vmin;
        height: 35rem;
    }

    .card .card-text {
        padding: 1.5em 0.5em 0.5em 0.5em;
        font-size: 16px;
    }

    .card-body h3 {
        font-size: 1.3em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .top1>img {
        width: 90% !important;
        padding-top: 15px !important;
        height: 200px;
    }

    .shadow-lg {
        transition: transform .5s;

    }

    .shadow-lg:hover {
        transform: scale(1.1);

    }


    #more {
        border: solid white;
        margin: 5px;
        border-radius: 2em;
        background: black;
        color: white;
        height: 50px;
        width: 150px;
        font-size: 20px;
    }

    #more:hover {
        /* background: white; */
        color: #00fda9;
        border: 3px solid #00fda9;
        box-shadow: 0px 10px 42px rgba(243, 243, 243, 0.4);
        transition: 0.7s all ease;
    }

    /* training */
    h2 {
        text-align: center;
        margin-bottom: 4%;
    }

    .training_box {
        height: 95vh;
        padding: 1%;
        background-color: white;
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .heading {
        text-align: center;
    }

    .training_content {
        padding: 0 10% 5% 10%;
    }

    .training_content p {
        text-align: justify;
        font-size: larger;
    }

    .row {
        /* margin-bottom: 4% !important; */
        margin-right: 0%;
    }

    .head h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        text-shadow: 1vh;
        padding: 10% 0 5% 0;
    }

    .iframe_container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        height: 55vh;
        width: 100%;
    }

    .iframe_container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .faq {
        padding: 0 10% 5% 10%;
        background-color: white;

    }

    .faq h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
    }

    .faqcontent {
        text-align: justify;
    }

    .faqquestion {
        padding: 5px;

        /* cursor: crosshair; */
        font-weight: bold;
        background-color: ghostwhite;
        font-size: 1em;
        font-weight: 500;
        margin: 36px 0 36px 0;

    }

    .faqanswer {
        font-size: 0.9em;

    }

    iframe {
        max-height: 727px;

    }

    video {
        width: 100%;
        height: auto;
    }

    .imageswiper {
        margin-top: 15%;
    }


}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    .mx-auto {
        margin-left: 0% !important;
        margin-right: 0% !important;
    }

    p {
        text-align: justify;
    }

    .navbar-toggler {
        color: ghostwhite;
        margin-right: -75%;
        float: right;
        margin-top: 4%;
    }

    .images {
        transition: transform .5s;
        width: 100%;

    }

    .images:hover {
        transform: scale(1.1);
    }

    .navbar-nav {
        margin: auto;
    }

    .navbar-brand {
        font-size: 1.06rem !important;
        /* margin-left: 18%; */
        width: 20em;
    }

    .bg-dark {
        background-color: black !important;
    }

    button:focus {
        outline: 0;
    }

    .fixed {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .navbar {
        background: black;
    }

    /* #logo {
          width: 55%;
          padding-left: 50px;
      } */

    .container-fluid .navbar.navbar-expand-lg .nav-link {
        color: black;
    }

    .nav-item {
        padding-right: 20px;
    }

    #button_head {
        /* border: none; */
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: 2em;
        background: black;
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

    #button_head a {
        color: white;
        padding: 0;
        font-size: 17px;
        font-weight: 500;

    }

    #button_head:hover {
        border: 3px solid #00fda9;
        color: #00fda9;
        transition: 0.5s all ease;
    }

    #button_head a:hover {
        color: #00fda9;
    }

    #contact>a {
        color: white;
        font-weight: 600;
    }

    #contact>a:visited {
        border: none;
    }

    #contact>a:active {
        border: none;
    }

    .navbar-brand>img:nth-child(1) {
        width: 18%;
        padding-left: 1vh;
    }

    .navbar-brand>img:nth-child(2) {
        width: 45%;
        padding-left: 2vh;
    }

    .feat_head>h3 {
        padding-top: 30px;
        font-size: 3em;

        font-weight: bold;
    }

    .new_image>img:nth-child(1) {
        width: 10%;
        padding-left: 2vh;
        /* margin-bottom: -40px; */
    }

    .new_image>img:nth-child(2) {
        width: 30%;
        /* margin-bottom: -40px; */
    }

    #head {
        width: 100%;
    }



    .contact_us {
        text-align: -webkit-center;
        margin: 50px 0 10px 0;
    }

    .contact_us>h4 {
        font-size: 2em;

        padding: 15px;
    }

    .feature_img {
        height: 280px;
        width: 300px;
        margin: 55px 0 0 200px;
    }

    #contact {
        border: none;
        /* border: 3px solid #00fda9; */
        border-radius: 2em;
        background: black;
        color: white;
        width: 10%;
        height: 40px;
        font-size: 18px;
    }

    .contact_us>p {
        font-size: 1.5em;

        padding: 15px 0 5px 0;
    }

    footer {
        /* position: relative; */
        background: black;
        color: white;
        padding-top: 20px;
    }



    .quaffle_img {
        width: 60px;
        background: black;
    }

    #foot_icon {
        color: white;
        padding-left: 10px;
    }

    .powered>p {
        font-size: 1.2em;

        text-align: center !important;
        /* padding-right: 5vh; */
    }


    .compare {
        padding: 0% 0 5% 0;
    }

    .compare .head h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        text-shadow: 1vh;
        padding: 10% 0 5% 0;
    }

    .other {
        /* padding: 3% 3% 3% 0%; */
        /* margin: 3%; */
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .other h1 {
        text-align: center;
        font-size: 1.7em;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .other ul {
        text-align: right;
        list-style-type: none;
    }

    .other ul li {
        padding-bottom: 10px;
        justify-content: center;
        align-content: center;
        font-size: 1em;
        font-weight: 500;
    }

    .other ul li i {
        color: red;
        padding-left: 15px;
        font-size: 1.5em;
    }

    .vs {
        padding: 3% 2% 3% 2%;
        display: block;
        /* border: 1px solid black; */
        /* border-left: 0.5px solid rgba(0,0,0,.175); */
        text-align: center;
        /* box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; */
    }

    .vs h1 {
        font-size: 3em;
        font-weight: bold;
    }

    .backup {
        /* padding: 3% 0% 3% 0%; */
        /* margin: 3%; */
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .backup h1 {
        text-align: center;
        font-size: 1.7em;
        padding-left: 40px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .backup ul {
        text-align: left;
        list-style-type: none;
    }

    .backup ul li {
        padding-bottom: 10px;
        justify-content: center;
        align-content: center;
        font-size: 1em;
        font-weight: 500;
    }

    .backup ul li i {
        color: #00fda9;
     
        font-size: 1.5em;
    }

    .team {
        padding: 5vmin 5vmin 5vmin 5vmin;
    }

    .card {
        width: 20rem;
        margin-top: 10vmin;
        height: 35rem;
    }

    .card .card-text {
        padding: 1.5em 0.5em 0.5em 0.5em;
        font-size: 16px;
    }

    .card-body h3 {
        font-size: 1.3em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .top1>img {
        width: 90% !important;
        padding-top: 15px !important;
        height: 200px;
    }

    .shadow-lg {
        transition: transform .5s;

    }

    .shadow-lg:hover {
        transform: scale(1.1);

    }


    #more {
        border: solid white;
        margin: 5px;
        border-radius: 2em;
        background: black;
        color: white;
        height: 50px;
        width: 150px;
        font-size: 20px;
    }

    #more:hover {
        /* background: white; */
        color: #00fda9;
        border: 3px solid #00fda9;
        box-shadow: 0px 10px 42px rgba(243, 243, 243, 0.4);
        transition: 0.7s all ease;
    }

    /* training */
    h2 {
        text-align: center;
        margin-bottom: 4%;
    }

    .training_box {
        height: 95vh;
        padding: 1%;
        background-color: white;
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .heading {
        text-align: center;
    }

    .training_content {
        padding: 0 10% 5% 10%;
    }

    .training_content p {
        text-align: justify;
        font-size: larger;
    }

    .row {
        /* margin-bottom: 4% !important; */
        margin-right: 0%;
    }

    .head h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        text-shadow: 1vh;
        padding: 10% 0 5% 0;
    }

    .iframe_container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        height: 70vh;
        width: 100%;
    }

    .iframe_container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .faq {
        padding: 10%;
        background-color: white;

    }

    .faq h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
    }

    .faqcontent {
        text-align: justify;
    }

    .faqquestion {
        padding: 5px;

        /* cursor: crosshair; */
        font-weight: bold;
        background-color: ghostwhite;
        font-size: 1em;
        font-weight: 500;
        margin: 36px 0 36px 0;

    }

    .faqanswer {
        font-size: 0.9em;

    }

    iframe {
        max-height: 727px;

    }

    video {
        width: 100%;
        height: auto;
    }

    .imageswiper {
        margin-top: 15%;
    }


}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .mx-auto {
        margin-left: 0% !important;
        margin-right: 0% !important;
    }

    p {
        text-align: justify;
    }

    .navbar-toggler {
        color: ghostwhite;
        margin-right: -100%;
        float: right;
        margin-top: 3%;
    }

    .images {
        transition: transform .5s;
        width: 100%;

    }

    .images:hover {
        transform: scale(1.1);
    }

    .navbar-nav {
        margin: auto;
    }

    .navbar-brand {
        font-size: 1.06rem !important;
        /* margin-left: 18%; */
        width: 13em;
    }

    .bg-dark {
        background-color: black !important;
    }

    button:focus {
        outline: 0;
    }

    .fixed {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .navbar {
        background: black;
    }

    /* #logo {
          width: 55%;
          padding-left: 50px;
      } */

    .container-fluid .navbar.navbar-expand-lg .nav-link {
        color: black;
    }

    .nav-item {
        padding-right: 20px;
    }

    #button_head {
        /* border: none; */
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: 2em;
        background: black;
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

    #button_head a {
        color: white;
        padding: 0;
        font-size: 17px;
        font-weight: 500;

    }

    #button_head:hover {
        border: 3px solid #00fda9;
        color: #00fda9;
        transition: 0.5s all ease;
    }

    #button_head a:hover {
        color: #00fda9;
    }

    #contact>a {
        color: white;
        font-weight: 600;
    }

    #contact>a:visited {
        border: none;
    }

    #contact>a:active {
        border: none;
    }

    .navbar-brand>img:nth-child(1) {
        width: 18%;
        padding-left: 1vh;
    }

    .navbar-brand>img:nth-child(2) {
        width: 45%;
        padding-left: 2vh;
    }

    .feat_head>h3 {
        padding-top: 30px;
        font-size: 3em;

        font-weight: bold;
    }

    .new_image>img:nth-child(1) {
        width: 10%;
        padding-left: 2vh;
        /* margin-bottom: -40px; */
    }

    .new_image>img:nth-child(2) {
        width: 30%;
        /* margin-bottom: -40px; */
    }

    #head {
        width: 100%;
    }



    .contact_us {
        text-align: -webkit-center;
        margin: 50px 0 10px 0;
    }

    .contact_us>h4 {
        font-size: 2em;

        padding: 15px;
    }

    .feature_img {
        height: 280px;
        width: 300px;
        margin: 55px 0 0 200px;
    }

    #contact {
        border: none;
        /* border: 3px solid #00fda9; */
        border-radius: 2em;
        background: black;
        color: white;
        width: 10%;
        height: 40px;
        font-size: 18px;
    }

    .contact_us>p {
        font-size: 1.5em;

        padding: 15px 0 5px 0;
    }

    footer {
        /* position: relative; */
        background: black;
        color: white;
        padding-top: 20px;
    }



    .quaffle_img {
        width: 60px;
        background: black;
    }

    #foot_icon {
        color: white;
        padding-left: 10px;
    }

    .powered>p {
        font-size: 1.2em;

        text-align: center !important;
        /* padding-right: 5vh; */
    }


    .compare {
        padding: 0% 0 5% 0;
    }

    .compare .head h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        text-shadow: 1vh;
        padding: 10% 0 5% 0;
    }

    .other {
        /* padding: 3% 3% 3% 0%; */
        /* margin: 3%; */
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .other h1 {
        text-align: center;
        font-size: 1.7em;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .other ul {
        text-align: right;
        list-style-type: none;
    }

    .other ul li {
        padding-bottom: 10px;
        justify-content: center;
        align-content: center;
        font-size: 1em;
        font-weight: 500;
    }

    .other ul li i {
        color: red;
        padding-left: 15px;
        font-size: 1.5em;
    }

    .vs {
        padding: 3% 2% 3% 2%;
        display: block;
        /* border: 1px solid black; */
        /* border-left: 0.5px solid rgba(0,0,0,.175); */
        text-align: center;
        /* box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; */
    }

    .vs h1 {
        font-size: 3em;
        font-weight: bold;
    }

    .backup {
        /* padding: 3% 0% 3% 0%; */
        /* margin: 3%; */
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .backup h1 {
        text-align: center;
        font-size: 1.7em;
        padding-left: 40px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .backup ul {
        text-align: left;
        list-style-type: none;
    }

    .backup ul li {
        padding-bottom: 10px;
        justify-content: center;
        align-content: center;
        font-size: 1em;
        font-weight: 500;
    }

    .backup ul li i {
        color: #00fda9;
     
        font-size: 1.5em;
    }

    .team {
        padding: 5vmin 5vmin 5vmin 5vmin;
    }

    .card {
        width: 20rem;
        margin-top: 10vmin;
        height: 35rem;
    }

    .card .card-text {
        padding: 1.5em 0.5em 0.5em 0.5em;
        font-size: 16px;
    }

    .card-body h3 {
        font-size: 1.3em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .top1>img {
        width: 90% !important;
        padding-top: 15px !important;
        height: 200px;
    }

    .shadow-lg {
        transition: transform .5s;

    }

    .shadow-lg:hover {
        transform: scale(1.1);

    }


    #more {
        border: solid white;
        margin: 5px;
        border-radius: 2em;
        background: black;
        color: white;
        height: 50px;
        width: 150px;
        font-size: 20px;
    }

    #more:hover {
        /* background: white; */
        color: #00fda9;
        border: 3px solid #00fda9;
        box-shadow: 0px 10px 42px rgba(243, 243, 243, 0.4);
        transition: 0.7s all ease;
    }

    /* training */
    h2 {
        text-align: center;
        margin-bottom: 4%;
    }

    .training_box {
        height: 95vh;
        padding: 1%;
        background-color: white;
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .heading {
        text-align: center;
    }

    .training_content {
        padding: 0 10% 5% 10%;
    }

    .training_content p {
        text-align: justify;
        font-size: larger;
    }

    .row {
        /* margin-bottom: 4% !important; */
        margin-right: 0%;
    }

    .head h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        text-shadow: 1vh;
        padding: 10% 0 5% 0;
    }

    .iframe_container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        height: 100vh;
        width: 100%;
    }

    .iframe_container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .faq {
        padding: 10%;
        background-color: white;

    }

    .faq h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
    }

    .faqcontent {
        text-align: justify;
    }

    .faqquestion {
        padding: 5px;

        /* cursor: crosshair; */
        font-weight: bold;
        background-color: ghostwhite;
        font-size: 1em;
        font-weight: 500;
        margin: 36px 0 36px 0;

    }

    .faqanswer {
        font-size: 0.9em;

    }

    iframe {
        max-height: 727px;

    }

    video {
        width: 100%;
        height: auto;
    }

    .imageswiper {
        margin-top: 15%;
    }


}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .mx-auto {
        margin-left: 0% !important;
        margin-right: 0% !important;
    }

    p {
        text-align: justify;
    }

    .navbar-toggler {
        color: ghostwhite;
        margin-right: -100%;
        float: right;
        margin-top: 3%;
    }

    .images {
        transition: transform .5s;
        width: 100%;

    }

    .images:hover {
        transform: scale(1.1);
    }

    .navbar-nav {
        margin: auto;
    }

    .navbar-brand {
        font-size: 1.06rem !important;
        /* margin-left: 18%; */
        width: 13em;
    }

    .bg-dark {
        background-color: black !important;
    }

    button:focus {
        outline: 0;
    }

    .fixed {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .navbar {
        background: black;
    }

    /* #logo {
          width: 55%;
          padding-left: 50px;
      } */

    .container-fluid .navbar.navbar-expand-lg .nav-link {
        color: black;
    }

    .nav-item {
        padding-right: 20px;
    }

    #button_head {
        /* border: none; */
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: 2em;
        background: black;
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

    #button_head a {
        color: white;
        padding: 0;
        font-size: 17px;
        font-weight: 500;

    }

    #button_head:hover {
        border: 3px solid #00fda9;
        color: #00fda9;
        transition: 0.5s all ease;
    }

    #button_head a:hover {
        color: #00fda9;
    }

    #contact>a {
        color: white;
        font-weight: 600;
    }

    #contact>a:visited {
        border: none;
    }

    #contact>a:active {
        border: none;
    }

    .navbar-brand>img:nth-child(1) {
        width: 18%;
        padding-left: 1vh;
    }

    .navbar-brand>img:nth-child(2) {
        width: 45%;
        padding-left: 2vh;
    }

    .feat_head>h3 {
        padding-top: 30px;
        font-size: 3em;

        font-weight: bold;
    }

    .new_image>img:nth-child(1) {
        width: 10%;
        padding-left: 2vh;
        /* margin-bottom: -40px; */
    }

    .new_image>img:nth-child(2) {
        width: 30%;
        /* margin-bottom: -40px; */
    }

    #head {
        width: 60%;
    }



    .contact_us {
        text-align: -webkit-center;
        margin: 50px 0 10px 0;
    }

    .contact_us>h4 {
        font-size: 2em;

        padding: 15px;
    }

    .feature_img {
        height: 280px;
        width: 300px;
        margin: 55px 0 0 200px;
    }

    #contact {
        border: none;
        /* border: 3px solid #00fda9; */
        border-radius: 2em;
        background: black;
        color: white;
        width: 10%;
        height: 40px;
        font-size: 18px;
    }

    .contact_us>p {
        font-size: 1.5em;

        padding: 15px 0 5px 0;
    }

    footer {
        /* position: relative; */
        background: black;
        color: white;
        padding-top: 20px;
    }

    .icon {
        text-align: center;
    }

    .quaffle_img {
        width: 60px;
        background: black;
    }

    #foot_icon {
        color: white;
        padding-left: 10px;
    }

    .powered>p {
        font-size: 1.2em;

        text-align: center !important;
        /* padding-right: 5vh; */
    }


    .compare {
        padding: 0% 0 5% 0;
    }

    .compare .head h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        text-shadow: 1vh;
        padding: 10% 0 5% 0;
    }

    .other {
        /* padding: 3% 3% 3% 0%; */
        margin: 3%;
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .other h1 {
        text-align: center;
        font-size: 1.7em;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .other ul {
        text-align: right;
        list-style-type: none;
    }

    .other ul li {
        padding-bottom: 10px;
        justify-content: center;
        align-content: center;
        font-size: 1em;
        font-weight: 500;
    }

    .other ul li i {
        color: red;
        padding-left: 15px;
        font-size: 1.5em;
    }

    .vs {
        padding: 3% 2% 3% 2%;
        display: block;
        /* border: 1px solid black; */
        /* border-left: 0.5px solid rgba(0,0,0,.175); */
        text-align: center;
        /* box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; */
    }

    .vs h1 {
        font-size: 3em;
        font-weight: bold;
    }

    .backup {
        /* padding: 3% 0% 3% 0%; */
        margin: 3%;
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .backup h1 {
        text-align: center;
        font-size: 1.7em;
        padding-left: 40px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .backup ul {
        text-align: left;
        list-style-type: none;
    }

    .backup ul li {
        padding-bottom: 10px;
        justify-content: center;
        align-content: center;
        font-size: 1em;
        font-weight: 500;
    }

    .backup ul li i {
        color: #00fda9;
     
        font-size: 1.5em;
    }

    .team {
        padding: 5vmin 5vmin 5vmin 5vmin;
    }

    .card {
        width: 20rem;
        margin-top: 10vmin;
        height: 35rem;
    }

    .card .card-text {
        padding: 1.5em 0.5em 0.5em 0.5em;
        font-size: 16px;
    }

    .card-body h3 {
        font-size: 1.3em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .top1>img {
        width: 90% !important;
        padding-top: 15px !important;
        height: 200px;
    }

    .shadow-lg {
        transition: transform .5s;

    }

    .shadow-lg:hover {
        transform: scale(1.1);

    }


    #more {
        border: solid white;
        margin: 5px;
        border-radius: 2em;
        background: black;
        color: white;
        height: 50px;
        width: 150px;
        font-size: 20px;
    }

    #more:hover {
        /* background: white; */
        color: #00fda9;
        border: 3px solid #00fda9;
        box-shadow: 0px 10px 42px rgba(243, 243, 243, 0.4);
        transition: 0.7s all ease;
    }

    /* training */
    h2 {
        text-align: center;
        margin-bottom: 4%;
    }

    .training_box {
        height: 95vh;
        padding: 1%;
        background-color: white;
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .heading {
        text-align: center;
    }

    .training_content {
        padding: 0 10% 5% 10%;
    }

    .training_content p {
        text-align: justify;
        font-size: larger;
    }

    .row {
        /* margin-bottom: 4% !important; */
        margin-right: 0%;
    }

    .head h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        text-shadow: 1vh;
        padding: 10% 0 5% 0;
    }

    .iframe_container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        height: 225vh;
        width: 100%;
    }

    .iframe_container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .faq {
        padding:10%;
        background-color: white;

    }

    .faq h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
    }

    .faqcontent {
        text-align: justify;
    }

    .faqquestion {
        padding: 5px;

        /* cursor: crosshair; */
        font-weight: bold;
        background-color: ghostwhite;
        font-size: 1em;
        font-weight: 500;
        margin: 36px 0 36px 0;

    }

    .faqanswer {
        font-size: 0.9em;

    }

    iframe {
        max-height: 727px;

    }

    video {
        width: 100%;
        height: auto;
    }

    .imageswiper {
        margin-top: 15%;
    }

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    p {
        text-align: justify;
    }

    .navbar-toggler {
        color: ghostwhite;
        float: right;
        margin-top: 3%;
    }

    .images {
        transition: transform .5s;
        width: 100%;

    }

    .images:hover {
        transform: scale(1.1);
    }

    .navbar-nav {
        margin: auto;
    }

    .navbar-brand {
        font-size: 1.06rem !important;
        /* margin-left: 18%; */
        width: 12em;
    }

    .bg-dark {
        background-color: black !important;
    }

    button:focus {
        outline: 0;
    }

    .fixed {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .navbar {
        background: black;
    }

    /* #logo {
          width: 55%;
          padding-left: 50px;
      } */

    .container-fluid .navbar.navbar-expand-lg .nav-link {
        color: black;
    }

    .nav-item {
        padding-right: 20px;
    }

    #button_head {
        /* border: none; */
        position: relative;
        z-index: 1;
        border: 2px solid white;
        border-radius: 2em;
        background: black;
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

    #button_head a {
        color: white;
        padding: 0;
        font-size: 17px;
        font-weight: 500;

    }

    #button_head:hover {
        border: 3px solid #00fda9;
        color: #00fda9;
        transition: 0.5s all ease;
    }

    #button_head a:hover {
        color: #00fda9;
    }

    #contact>a {
        color: white;
        font-weight: 600;
    }

    #contact>a:visited {
        border: none;
    }

    #contact>a:active {
        border: none;
    }

    .navbar-brand>img:nth-child(1) {
        width: 18%;
        padding-left: 1vh;
    }

    .navbar-brand>img:nth-child(2) {
        width: 45%;
        padding-left: 2vh;
    }

    .feat_head>h3 {
        padding-top: 30px;
        font-size: 3em;

        font-weight: bold;
    }

    .new_image>img:nth-child(1) {
        width: 10%;
        padding-left: 2vh;
        /* margin-bottom: -40px; */
    }

    .new_image>img:nth-child(2) {
        width: 30%;
        /* margin-bottom: -40px; */
    }

    #head {
        width: 100%;
    }



    .contact_us {
        text-align: -webkit-center;
        margin: 50px 0 10px 0;
    }

    .contact_us>h4 {
        font-size: 2em;

        padding: 15px;
    }

    .feature_img {
        height: 280px;
        width: 300px;
        margin: 55px 0 0 200px;
    }

    #contact {
        border: none;
        /* border: 3px solid #00fda9; */
        border-radius: 2em;
        background: black;
        color: white;
        width: 10%;
        height: 40px;
        font-size: 18px;
    }

    .contact_us>p {
        font-size: 1.5em;

        padding: 15px 0 5px 0;
    }

    footer {
        /* position: relative; */
        background: black;
        color: white;
        padding-top: 20px;
    }

    .icon {
        padding-left: 100px;
    }

    .quaffle_img {
        width: 60px;
        background: black;
    }

    #foot_icon {
        color: white;
        padding-left: 10px;
    }

    .powered>p {
        font-size: 1.2em;

        text-align: center !important;
        /* padding-right: 5vh; */
    }


    .compare {
        padding: 0% 0 5% 0;
    }

    .compare .head h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        text-shadow: 1vh;
        padding: 10% 0 5% 0;
    }

    .other {
        /* padding: 3% 3% 3% 0%; */
        margin: 5%;
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .other h1 {
        text-align: center;
        font-size: 1.7em;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .other ul {
        text-align: right;
        list-style-type: none;
    }

    .other ul li {
        padding-bottom: 10px;
        justify-content: center;
        align-content: center;
        font-size: 1em;
        font-weight: 500;
    }

    .other ul li i {
        color: red;
        padding-left: 15px;
        font-size: 1.5em;
    }

    .vs {
        padding: 3% 2% 3% 2%;
        display: block;
        /* border: 1px solid black; */
        /* border-left: 0.5px solid rgba(0,0,0,.175); */
        text-align: center;
        /* box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; */
    }

    .vs h1 {
        font-size: 3em;
        font-weight: bold;
    }

    .backup {
        /* padding: 3% 0% 3% 0%; */
        margin: 5%;
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .backup h1 {
        text-align: center;
        font-size: 1.7em;
        padding-left: 40px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .backup ul {
        text-align: left;
        list-style-type: none;
    }

    .backup ul li {
        padding-bottom: 10px;
        justify-content: center;
        align-content: center;
        font-size: 1em;
        font-weight: 500;
    }

    .backup ul li i {
        color: #00fda9;
     
        font-size: 1.5em;
    }

    .team {
        padding: 5vmin 5vmin 5vmin 5vmin;
    }

    .card {
        width: 20rem;
        margin-top: 10vmin;
        height: 35rem;
    }

    .card .card-text {
        padding: 1.5em 0.5em 0.5em 0.5em;
        font-size: 16px;
    }

    .card-body h3 {
        font-size: 1.3em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .top1>img {
        width: 90% !important;
        padding-top: 15px !important;
        height: 200px;
    }

    .shadow-lg {
        transition: transform .5s;

    }

    .shadow-lg:hover {
        transform: scale(1.1);

    }


    #more {
        border: solid white;
        margin: 5px;
        border-radius: 2em;
        background: black;
        color: white;
        height: 50px;
        width: 150px;
        font-size: 20px;
    }

    #more:hover {
        /* background: white; */
        color: #00fda9;
        border: 3px solid #00fda9;
        box-shadow: 0px 10px 42px rgba(243, 243, 243, 0.4);
        transition: 0.7s all ease;
    }

    /* training */
    h2 {
        text-align: center;
        margin-bottom: 4%;
    }

    .training_box {
        height: 95vh;
        padding: 1%;
        background-color: white;
        display: block;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    }

    .heading {
        text-align: center;
    }

    .training_content {
        padding: 0 10% 5% 10%;
    }

    .training_content p {
        text-align: justify;
        font-size: larger;
    }

    .row {
        /* margin-bottom: 4% !important; */
        margin-right: 0%;
    }

    .head h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        text-shadow: 1vh;
        padding: 10% 0 5% 0;
    }

    .iframe_container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        height: 100vh;
        width: 100%;
    }

    .iframe_container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .faq {
        padding:10%;
        background-color: white;

    }

    .faq h1 {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
    }

    .faqcontent {
        text-align: justify;
    }

    .faqquestion {
        padding: 5px;

        /* cursor: crosshair; */
        font-weight: bold;
        background-color: ghostwhite;
        font-size: 1em;
        font-weight: 500;
        margin: 36px 0 36px 0;

    }

    .faqanswer {
        font-size: 0.9em;

    }

    iframe {
        max-height: 727px;

    }

    video {
        width: 100%;
        height: auto;
    }

    .imageswiper {
        margin-top: 15%;
    }
}